In [3]:
import pandas as pd
import math

# Read the inbound.csv file
df_inbound = pd.read_csv('template 2022 inbound.csv', sep=';')

df_inbound.shape

(24136, 9)

<h1>1. Clean the input file</h1>

In [4]:
nan_counts = df_inbound.isna().sum()

print("NaN value counts per column:")
print(nan_counts)

print("##### NaN reference #####")

###REFERENCE NUMBER###
# Filter out rows with NaN values in 'Reference' column
df_filtered = df_inbound.loc[df_inbound['Reference'].notna()]

###PALLETS NUMBER###


# Convert 'Pallets' column to a string type
df_filtered['Pallets'] = df_filtered['Pallets'].astype(str)

df_filtered['Pallets'] = df_filtered['Pallets'].str.replace(',', '.')
#Convert value of Pallets to number
df_filtered['Pallets'] = pd.to_numeric(df_filtered['Pallets'], errors='coerce')



# Replace NaN values with 1 in 'Pallets' column
df_filtered.loc[:, 'Pallets'].fillna(1, inplace=True)

# Convert 'Pallets' column to numeric and check for non-numeric values
non_numeric_rows = df_filtered['Pallets'].apply(pd.to_numeric, errors='coerce').isna()

# Filter the dataframe to keep only the non-numeric rows
non_numeric_values = df_filtered.loc[non_numeric_rows, 'Pallets']
# Print the non-numeric values
print("Non-numeric values in 'Pallets' column:")
print(non_numeric_values)

print(df_filtered.dtypes)

# Count rows and columns
num_rows = df_filtered.shape[0]
num_columns = df_filtered.shape[1]

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

NaN value counts per column:
Material                  0
Material Document         0
Reference               717
Posting Date              0
Time of Entry             0
Quantity                  0
Base Unit of Measure      0
Boxes                     0
Pallets                  74
dtype: int64
##### NaN reference #####
Non-numeric values in 'Pallets' column:
Series([], Name: Pallets, dtype: float64)
Material                 object
Material Document         int64
Reference                object
Posting Date             object
Time of Entry            object
Quantity                 object
Base Unit of Measure     object
Boxes                     int64
Pallets                 float64
dtype: object
Number of rows: 23419
Number of columns: 9

/var/folders/5j/b5cpchnx2w57rt5gx7nvfntr0000gn/T/ipykernel_23142/961388090.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Pallets'] = df_filtered['Pallets'].astype(str)
/var/folders/5j/b5cpchnx2w57rt5gx7nvfntr0000gn/T/ipykernel_23142/961388090.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Pallets'] = df_filtered['Pallets'].str.replace(',', '.')
/var/folders/5j/b5cpchnx2w57rt5gx7nvfntr0000gn/T/ipykernel_23142/961388090.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Pallets'] = pd.to_numeric(df_filtered['Pallets'], errors='coerce')
/var/folders/5j/b5cpchnx2w57rt5gx7nvfntr0000gn/T/ipykernel_23142/961388090.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'Pallets'].fillna(1, inplace=True)

In [5]:
# Group by 'Reference' and calculate the sum of 'Pallets' and check for whole pallets
grouped_df = df_filtered.groupby('Reference').agg({'Pallets': sum})
grouped_df['Whole_Pallets'] = grouped_df['Pallets'].apply(lambda x: int(x))

# Filter out rows where the sum of 'Pallets' is not equal to 1
grouped_df = grouped_df[grouped_df['Whole_Pallets'] == 1]

# Find the leftover pallets and get the corresponding 'Boxes' value
grouped_df['Leftover'] = grouped_df['Pallets'] - grouped_df['Whole_Pallets']

# Print the resulting DataFrame
print(grouped_df)

                Pallets  Whole_Pallets  Leftover Leftover_Boxes
Reference
0084184269          1.1              1       0.1            N/A
0084184270          1.1              1       0.1            N/A
0084186565          1.8              1       0.8             90
0084186573          1.0              1       0.0              1
0084186791          1.0              1       0.0            N/A
...                 ...            ...       ...            ...
4500037253          1.5              1       0.5            N/A
4500037366          1.9              1       0.9            N/A
4500037657          1.5              1       0.5            N/A
4500037681          1.0              1       0.0            N/A
OIF 12975 TEMP      1.3              1       0.3            N/A

[82 rows x 4 columns]

In [6]:
# Save the resulting DataFrame to an Excel file
output_file = 'result.xlsx'
grouped_df.to_excel(output_file, index=True)

print("Result saved to", output_file)

Result saved to result.xlsx

<h1>2. Clean the Master Data file</h1>

In [7]:
# Read the inbound.csv file
df_md = pd.read_csv('md.csv', sep=';')



nan_counts = df_md.isna().sum()

print("NaN value counts per column:")
print(nan_counts)

print(df_md.head())

df_md.shape

NaN value counts per column:
Material            4
Packing Type        4
Numerator           4
Denom.              4
Length              4
Length.1          991
Width               4
Width.1           991
Height              4
Height.1          991
Volume              4
Volume.1          360
Gross weight        4
Gross weight.1    840
net weight          4
net weight.1        4
dtype: int64
   Material Packing Type Numerator  Denom.    Length Length.1     Width  \
0  7000023W           CU         1     1.0       153       MM       232
1  7000023W          PAL     1 200     1.0  1 200,00       MM       800
2  7000023W           PC         1    12.0         0      NaN         0
3  7000023W          PLR       100     1.0  1 146,00       MM       750
4  7000023W          PLU     1 540     1.0  1 200,00       MM  1 000,00

  Width.1    Height Height.1    Volume Volume.1 Gross weight Gross weight.1  \
0      MM        23       MM     0,816      CDM          155              G
1      MM  1 596,00       MM  1 532,16      CDM   225 600,00              G
2     NaN         0      NaN         0      NaN            0            NaN
3      MM       121       MM       104      CDM    16 800,00              G
4      MM  1 481,00       MM  1 777,20      CDM   283 720,00              G

   net weight net weight.1
0         132            G
1  158 400,00            G
2         132            G
3   13 200,00            G
4  203 280,00            G

(8168, 16)

In [13]:
# Filter out rows with NaN values in 'Material' column
df_md_filtered = df_md[df_md['Material'].notna()]

#Convert value of Numerator to number
df_md_filtered['Numerator'] = pd.to_numeric(df_md_filtered['Numerator'], errors='coerce')
#Filter NaN value in case there are 
df_md_filtered = df_md_filtered[df_md_filtered['Numerator'].notna()]

print(df_md_filtered)
print(df_md_filtered.dtypes)

        Material Packing Type  Numerator  Denom.    Length Length.1     Width  \
0       7000023W           CU        1.0     1.0       153       MM       232
2       7000023W           PC        1.0    12.0         0      NaN         0
3       7000023W          PLR      100.0     1.0  1 146,00       MM       750
5       7000023W          PRU      140.0     1.0  1 146,00       MM  1 000,00
6       7000023W           SU       10.0     1.0       323       MM       251
...          ...          ...        ...     ...       ...      ...       ...
8161  Y302335500           CU        1.0     1.0        25       MM        53
8163  Y302335500           PC        1.0     1.0        25       MM        53
8164  Y302335500          PLR      552.0     1.0  1 193,00       MM       791
8166  Y302335500          PRU      672.0     1.0  1 193,00       MM       992
8167  Y302335500           SU       12.0     1.0       180       MM       113

     Width.1 Height Height.1   Volume Volume.1 Gross weight Gross weight.1  \
0         MM     23       MM    0,816      CDM          155              G
2        NaN      0      NaN        0      NaN            0            NaN
3         MM    121       MM      104      CDM    16 800,00              G
5         MM    121       MM  138,666      CDM    23 520,00              G
6         MM    121       MM     9,81      CDM     1 680,00              G
...      ...    ...      ...      ...      ...          ...            ...
8161      MM    139       MM    0,184      CDM          109              G
8163      MM    139       MM    0,184      CDM          109              G
8164      MM    149       MM  140,606      CDM    62 606,00              G
8166      MM    149       MM  176,335      CDM    76 216,00              G
8167      MM    149       MM    3,031      CDM     1 361,00              G

     net weight net weight.1
0           132            G
2           132            G
3     13 200,00            G
5     18 480,00            G
6      1 320,00            G
...         ...          ...
8161        100            G
8163        100            G
8164  55 200,00            G
8166  67 200,00            G
8167   1 200,00            G

[6624 rows x 16 columns]
Material           object
Packing Type       object
Numerator         float64
Denom.            float64
Length             object
Length.1           object
Width              object
Width.1            object
Height             object
Height.1           object
Volume             object
Volume.1           object
Gross weight       object
Gross weight.1     object
net weight         object
net weight.1       object
dtype: object

/var/folders/5j/b5cpchnx2w57rt5gx7nvfntr0000gn/T/ipykernel_23142/2702132615.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_md_filtered['Numerator'] = pd.to_numeric(df_md_filtered['Numerator'], errors='coerce')

<h1>3. Calculation</h1>

In [28]:
# Extract whole numbers and decimal places
df_filtered['Pallets_whole'] = df_filtered['Pallets'].apply(int)
df_filtered['Pallets_decimal'] = df_filtered['Pallets'] - df_filtered['Pallets_whole']

# # Group the data by 'Posting Date' and 'Reference' number and calculate the sum of 'Pallets' and 'Pallets_decimal' for each group
# grouped_df = df_filtered.groupby(['Posting Date', 'Reference'])

# print(grouped_df.head())

# Filter rows where the sum of 'Pallets_whole' is 1, indicating single pallets
single_pallets = df_filtered[df_filtered['Pallets_whole'] == 1]

# Calculate the sum of 'Pallets_decimal' within each reference number and filter rows where the sum is 1, indicating mixed pallets
mixed_pallets = df_filtered.groupby('Reference').filter(lambda x: x['Pallets_decimal'].sum() == 1)

# Reset the index of mixed pallets DataFrame
mixed_pallets = mixed_pallets.reset_index(drop=True)

print(mixed_pallets)

/var/folders/5j/b5cpchnx2w57rt5gx7nvfntr0000gn/T/ipykernel_23142/1110013860.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Pallets_whole'] = df_filtered['Pallets'].apply(int)
/var/folders/5j/b5cpchnx2w57rt5gx7nvfntr0000gn/T/ipykernel_23142/1110013860.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Pallets_decimal'] = df_filtered['Pallets'] - df_filtered['Pallets_whole']

       Material  Material Document   Reference Posting Date Time of Entry  \
0      70010840         4905937928  0084186573   04/01/2022      16:13:58
1      7006713E         4905937928  0084186573   04/01/2022      16:13:58
2    W301656103         4905937928  0084186573   04/01/2022      16:13:58
3    X301583800         4905937928  0084186573   04/01/2022      16:13:58
4    X301583900         4905937928  0084186573   04/01/2022      16:13:58
..          ...                ...         ...          ...           ...
204    73924130         4906052096  0084189121   16/12/2022      12:36:33
205  Y300047300         4906052096  0084189121   16/12/2022      12:36:33
206  Y300047300         4906052096  0084189121   16/12/2022      12:36:33
207  Y301017000         4906052096  0084189121   16/12/2022      12:36:33
208  Y301017000         4906052096  0084189121   16/12/2022      12:36:33

    Quantity Base Unit of Measure  Boxes  Pallets  Pallets_whole  \
0         12                   CU      1      0.0              0
1         10                   CU      1      0.0              0
2          5                   CU      0      0.0              0
3          6                   CU      1      0.0              0
4          6                   CU      1      0.0              0
..       ...                  ...    ...      ...            ...
204        4                   CU      4      1.0              1
205       37                   CU      6      0.0              0
206      311                   CU     52      0.2              0
207        4                   CU      1      0.0              0
208      938                   CU    156      0.5              0

     Pallets_decimal
0                0.0
1                0.0
2                0.0
3                0.0
4                0.0
..               ...
204              0.0
205              0.0
206              0.2
207              0.0
208              0.5

[209 rows x 11 columns]